body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url("img/wallpaper1_720p.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    margin-bottom: 5vh;
    height: 35vh;
}

h1 {
    font-size: 10vh;
    color: orangered;
    text-shadow: black 2px 2px 1px;
    margin: 0;
}

h2 {
    margin-top: 15vh;
    font-size: 28pt;
    color: orangered;
    text-shadow: black 1px 1px 1px;
}